@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
/* body */
body{
  background-color: white;

}

/* Navigate */
header{
  z-index: 100;
  background: linear-gradient(90deg,  rgba(0,119,169,1) 0%, rgba(12,16,55,1) 100%);
}

.info_bienv{
  padding: 5px;
  align-items: center;
}
.E2E{
  padding: 8px;
  font-size: 20px;
  position: relative;
  right: -18%;
  border: 2px solid white;
}
nav{
  align-items: top;
  justify-content: top;
  position: sticky;
  top: 0px;
  padding: 5px;
  z-index: 1;
  margin-top: 0;
  background: linear-gradient(90deg,  rgba(0,119,169,1) 0%, rgba(12,16,55,1) 100%);
}
ul{
	list-style: none;
	margin: 4;
	padding: 0;
}
a, a:hover, a.active, a:active, a:visited, a:focus{
	color:#fefefe;
	text-decoration:none;
}

.menu-items{
  font-size: 18px;
  display: flex;
	width: 100%;
	list-style: none;
  justify-content: center;
  z-index: 50;  
}

.menu-item{
  margin: 12px;
}

.menu-items > li {
  	display: inline-block; 
  }


.menu-items > li > a{
  font-size: smaller;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border-right: 1px #365670 dotted;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}

.menu-items > li > a.active,
.menu-items > li > a:hover,
li.drop-down ul > li > a:hover{
  padding: 17px;
	background:#009FE1;
	color:#fff;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

/* menu button */

.menu-btn{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  margin: 25px;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
  content: " ";
  position: absolute;
}

.menu-btn_lines::before{
  transform: translateY(-12px);
}

.menu-btn_lines::after{
  transform: translateY(12px);
}
.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 45px;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  
}
/* animation */
.menu-btn.open .menu-btn_lines{
  transform: translateX(32px);
  background-color: transparent;
}

.menu-btn.open .menu-btn_lines::before{
  transform: rotate(45deg) translate(-24px, 24px);
}

.menu-btn.open .menu-btn_lines::after{
  transform: rotate(-45deg) translate(-24px, -24px);
} 


/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}


/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/*Styling logo*/
.logo{
    align-items: center;
    margin-left: 26%;
    padding: 0;  
    height: 5rem;
    width: 25rem;
    
 }

.num{
    padding:2px 8px;
    background: rgb(0,175,155);
    border-radius:20px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
    color: white;
}


/* Timeline */
.timeline{
    margin-top:80px;
    position: relative;
  }
  
  .timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: linear-gradient(90deg, rgba(12,16,55,1) 0%, rgba(0,119,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:15px;
  }
  
  .timeline-title{
    position:relative;
    padding:4px 15px 4px 35px;
    background: linear-gradient(90deg, rgba(12,16,55,1) 0%, rgba(0,119,169,1) 100%);
    display:inline-block;
    width:auto;
    border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
    color: white;
  }
  
  .timeline-title span{
    position:absolute;
    top:-1px;
    left:calc(100% - 10px);
    z-index:-1;
    white-space:nowrap;
    display:inline-block;
    background-color:rgb(0,175,155);
    padding:4px 10px 4px 20px;
    border:1px solid rgb(0,175,155);
    box-sizing:border-box;
  }
  
  .timeline-title:before{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
    background: linear-gradient(90deg, rgba(12,16,55,1) 0%, rgba(0,119,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
    border-radius:100%;
    border:1px solid #17191B;
    left:5px;
  }
  
  .timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
  }
  
  .timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    position:relative;
    display:inline-block;
    border:1px solid #17191B;
    color: black;
  }
  .timeline-section:before{
    content:'';
    position:absolute;
    width:16px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
  }
  
  .timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background: linear-gradient(90deg, rgba(48,71,176,1) 0%, rgba(0,135,255,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
  }
  
  .timeline-section .col-sm-4{
    margin-bottom:15px;
  }
  
  .timeline-box{
    color: white;
    position:relative;
    background-color:#444950;
  
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
  }
  
  .box-icon{
    position:absolute;
    right:5px;
    top:0px;
  }
  
  .box-title{
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
  }
  
  .box-title i{
    margin-right:5px;
  }
  
  .box-content{
    padding:5px 15px;
    background: white;
    color: black;
  }
  
  .box-content strong{
    color:rgb(0, 0, 0);
    font-style:italic;
    margin-right:5px;
  }
  
  .box-item{
    margin-bottom:5px;
  }
  
  .box-end{
   padding:5px 15px;
    border-top: 1px solid #17191B;
    background-color:#444950;
    text-align:right;
    font-style:italic;
  }

.btn{
    padding:2px 15px;
    background: linear-gradient(90deg, rgba(61,80,187,1) 0%, rgba(0,119,169,1) 100%);
    border-radius:20px;
    border:1px solid #17191B;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
    color: white;
}

table{
  background-color: white;
}




/* footer */
footer{
 width: 100%;
 display: flex;
 justify-content: space-evenly;
}
footer div{
  padding: 12px;
  margin-top: 10px;
}
.colophon{
  background-color: black;
  padding: 2rem;
  padding-top: 0;
}
.logo_footer{
  padding: 5px;
  align-items: center;
  margin-top: 1rem;
  height: auto;
  object-fit: contain;
}

/*responsive*/
@media (min-width: 768px){

  .menu-btn{
    display:none;
  }
}


 @media (max-width: 768px){
  body{
    overflow-block: hidden;
  }

  header{
    display: flex;
    position: relative;
    align-items: center;
  }
  .info_bienv{
    margin-left: 6.2%;
    display: flex;
    padding: 5px;
  }
  .E2E{
    display: flex;
    margin-left: 23px;
    padding: 8px;
    font-size: 20px;
    border: 2px solid white;
  }

  nav{
    padding: 2px;
  }

  .menu-btn {
    margin: 6;
    display: flex;
    align-items: center;
  }
  .menu-items {
    padding: 0.2px;
    margin-top: 55px;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 85vh;
    transform: translateX(100vw);
    background-color: rgb(0,175,155);
    transition: transform 0.3s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    padding: 0;
    width: 100vw;
    height: 12%;
    border: 0.1px solid #fefefe;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 30%;
  }
  .menu-items li a:hover {
    color: white;
  }
  }
  